.card-social {
    display: flex;
    height: 70px;
    width: 270px;
  }
  
  .card-social svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card-social .social-link1,.card-social .social-link2,.card-social .social-link3,.card-social .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card-social svg {
    transform: scale(1);
  }
  
  .card-social .social-link1:hover {
    background-color: #1f5ef3;
    animation: bounce_613 0.4s linear;
  }
  .card-social .social-link2:hover {
    background-color: rgb(32, 31, 31);
    animation: bounce_613 0.4s linear;
  }
  
  .card-social .social-link3:hover {
    background-color: #8d1919;
    animation: bounce_613 0.4s linear;
  }
  
  .card-social .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  .contain {
  display: flex;
  font-size: clamp(2rem, 2.8vw, 5rem);
}
.typewriter {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white;
  animation: cursor 1s step-start infinite, 
    text 5s steps(18) ;
}

@keyframes cursor {
  0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
  0% { 
    width: 0; 
  }
  100% { 
    width: 21.5ch; 
  }
}

@media (max-width: 767px) {
  /* Your mobile styles here */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: black;
    min-height: 100vh;
    color: white;
    text-align: left;
}
.typewriter{
    font-size: 26px;
}
.title-body{
    font-size: 18px;
}
}

